
<ion-header>

  <ion-navbar no-border-bottom color="skip">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Status</ion-title>
  </ion-navbar>

</ion-header>
<ion-content padding>
  <h5><b>Project Renovation ,Entrepreneur 1235678 has requested payment</b></h5>

<ion-card>
 <button ion-button type="round"  class="round-but" (click) = "openGrid1()" color="skip">First Floor complitation</button>
<ion-grid no-padding *ngIf = tran1>
  <ion-row >
    <ion-col >
      <ion-item class ="item-sm">
        <ion-label class="label label-sm">Condition: First Floor complitation status</ion-label>
      </ion-item>
    </ion-col>
  </ion-row>
   <ion-row radio-group [(ngModel)]="status">
    <ion-col>
      <ion-item>
        <button ion-button type="round"  class="round-button" >Wip</button>
        <!-- <ion-label class="small-text">work in progress</ion-label>
        <ion-radio value="wip" radio-ios-icon-width = 25px></ion-radio>         -->
      </ion-item>
    </ion-col>
    <ion-col>
      <ion-item>
        <button ion-button type="round"  class="round-button">Complete</button>
        <!-- <ion-label>complete</ion-label>
        <ion-radio value="spc"></ion-radio> -->
      </ion-item>
    </ion-col>
    <ion-col>
<ion-list>
  <!-- <ion-item-sliding #slidingItem>
    <ion-item>
      Payment
    </ion-item>
    <ion-item-options>
      <button ion-button type="round"  (click)="share(slidingItem)">Pay</button>
    </ion-item-options>
  </ion-item-sliding> -->
  
  <ion-item-sliding #item>
    <ion-item >
     <b>Swipe left to pay/ right to reject</b> 
    </ion-item>
    <ion-item-options side="left" (ionSwipe)="share(slidingItem)" >
      <!-- <button ion-button (click)="reject(slidingItem)">Reject</button> -->
    </ion-item-options>

    <ion-item-options side="right" (ionSwipe)="reject(slidingItem)">
      <!-- <button ion-button (click)="share(slidingItem)">Pay</button> -->
    </ion-item-options>
  </ion-item-sliding>
</ion-list>


     <!-- <ion-item>
        <button ion-button type="round" (click)="summary()" class="round-button">Payment</button> -->
       <!-- <ion-label>Payment</ion-label>
        <ion-radio value="rp"></ion-radio> -->
      <!-- </ion-item> -->
    </ion-col>
  </ion-row>
</ion-grid>
  </ion-card>
<ion-card>
 <button ion-button type="round"  class="round-item" (click) = "openGrid2()" >Final Payment</button>
<ion-grid no-padding *ngIf = tran2>
  <ion-row >
    <ion-col >
      <ion-item class ="item-sm">
        <ion-label class="label label-sm">Condition: Final Payment</ion-label>
      </ion-item>
    </ion-col>
  </ion-row>
   <ion-row radio-group [(ngModel)]="status">
    <ion-col>
      <ion-item>
        <button ion-button type="round"  class="round-button" >Wip</button>
        <!-- <ion-label class="small-text">work in progress</ion-label>
        <ion-radio value="wip" radio-ios-icon-width = 25px></ion-radio>         -->
      </ion-item>
    </ion-col>
    <ion-col>
      <ion-item>
        <button ion-button type="round"  class="round-button">Complete</button>
        <!-- <ion-label>complete</ion-label>
        <ion-radio value="spc"></ion-radio> -->
      </ion-item>
    </ion-col>
    <ion-col>
<ion-list>
  <!-- <ion-item-sliding #slidingItem>
    <ion-item>
      Payment
    </ion-item>
    <ion-item-options>
      <button ion-button type="round"  (click)="share(slidingItem)">Pay</button>
    </ion-item-options>
  </ion-item-sliding> -->
  
  <ion-item-sliding #item>
    <ion-item >
     <b>Swipe left to pay/ right to reject</b> 
    </ion-item>
    <ion-item-options side="left" (ionSwipe)="share(slidingItem)" >
      <!-- <button ion-button (click)="reject(slidingItem)">Reject</button> -->
    </ion-item-options>

    <ion-item-options side="right" (ionSwipe)="reject(slidingItem)">
      <!-- <button ion-button (click)="share(slidingItem)">Pay</button> -->
    </ion-item-options>
  </ion-item-sliding>
</ion-list>


     <!-- <ion-item>
        <button ion-button type="round" (click)="summary()" class="round-button">Payment</button> -->
       <!-- <ion-label>Payment</ion-label>
        <ion-radio value="rp"></ion-radio> -->
      <!-- </ion-item> -->
    </ion-col>
  </ion-row>
</ion-grid>
  </ion-card>

 
  <!-- <ion-list>
  <h3>Transaction Id : 876876876876</h3>
  <ion-item-sliding>
  <ion-item>
    Item 1
  </ion-item>
    <ion-item-options side="right" (ionSwipe)="saveItem(item)">
    <button ion-button expandable (click)="saveItem(item)">
      <ion-icon name="star"></ion-icon>
    </button>
  </ion-item-options>
</ion-item-sliding>
  <ion-item>
    <ion-label>House base completed</ion-label>
    <ion-checkbox [(ngModel)]="housebase" (ionChange)="confirmpay1()"></ion-checkbox>
  </ion-item>

  <ion-item>
    <ion-label>1 floor complete</ion-label>
    <ion-checkbox [(ngModel)]="floor1sr" (ionChange)="confirmpay2()"></ion-checkbox>
  </ion-item>

  <ion-item>
    <ion-label>2nd floor completed</ion-label>
    <ion-checkbox [(ngModel)]="floor2nd"(ionChange)="confirmpay2()"></ion-checkbox>
  </ion-item>
  
</ion-list> -->

</ion-content>
