<ion-content no-bounce>
  <ion-slides #slides (ionSlideWillChange)="onSlideChangeStart($event)" pager>

    <ion-slide>
      <img src="assets/img/ica-slidebox-img-1.png" class="slide-image"/>
      <h2 class="slide-title">
        <b>DISCOVER</b>
      </h2>
      <p>
        Explore top products with best quality
      </p>
      <ion-buttons end *ngIf="showSkip">
      <button ion-button round (click)="startApp()" color="skip" class="button-ios1">Skip</button>
    </ion-buttons>
    </ion-slide>

    <ion-slide>
      <img src="assets/img/ica-slidebox-img-2.png" class="slide-image"/>
      <h2 class="slide-title" ><b>MAKE THE PAYMENT</b></h2>
      <p>Choose the preferrable option for payment</p>
      <ion-buttons end *ngIf="showSkip">
      <button ion-button round center (click)="startApp()" color="skip" class="button-ios1">
        Skip
      </button>
    </ion-buttons>
    </ion-slide>

    <ion-slide>
      <img src="assets/img/ica-slidebox-img-4.png" class="slide-image"/>
      <h2 class="slide-title"><b>GET STARTED</b></h2>
      <p>Get high quality products for the best prices</p>
      <button ion-button round (click)="startApp()" color="skip" class="button-ios2" >
        Continue
      </button>
    </ion-slide>

  </ion-slides>
</ion-content>
