page-home-renovate-form {



 $colors: (
  primary:    #488aff,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,
  favorite:   #69BB7B,
  twitter:    #1da1f4,
  google:     #dc4a38,
  vimeo:      #23b6ea,
  facebook:   #3b5998,
  skip:       #415F7A      
);

.app-font-25 ion-label{
    white-space: inherit;
    font-size: 25px;
  }

  .app-font-10 ion-label{
    white-space: inherit;
    font-size: 25px;
    width: 20px;
    border: 1px;
  }

}