<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>PaymentAndContact</ion-title>
  </ion-navbar>

</ion-header>
<ion-content>
	<ion-card>
      <ion-item>
      <ion-label>Payment Method</ion-label>
      <ion-select [(ngModel)]="PayMeth">
      <ion-option value="fm">Net Banking</ion-option>
      <ion-option value="mm">Mobile Pay</ion-option>
      </ion-select>
      </ion-item>
 
  <ion-list>
    <div>
      
    <button ion-item (click) = "fullPayment()" >
      <ion-icon name="arrow-dropdown-circle"></ion-icon>
      Full Payment
    </button>
    <div *ngIf = full>
      <ion-input type="text" value="Full payment will be made once the house is delivered"></ion-input>
      <button ion-button type="round" (click)="opneSchd()">Accept</button>
      <button ion-button type="round">Reject</button>
    </div>
    </div>
   <div >
    <button ion-item (click) = "partialPay()" >
      <ion-icon name="arrow-dropdown-circle"></ion-icon>
      Partial Payment
    </button>
    <div *ngIf = part>
  <ion-grid>
  <ion-row>
    <ion-col width-50>
      <ion-item class="custom-item-input">
        <ion-label>Condition</ion-label>
      </ion-item>
    </ion-col>
    <ion-col width-50>
      <ion-item>
        <ion-label>% of Payment</ion-label>
      </ion-item>
    </ion-col>
  </ion-row>
   <ion-row *ngFor=" let choice of choices , let i = index">
    <ion-col width-50>
      <ion-item class="item" item-width="50">
        <ion-input type="text" [(ngModel)]="choice[i]"></ion-input>
      </ion-item>
    </ion-col>
    <ion-col width-50>
      <ion-item>
          <ion-select [(ngModel)]="choice[i]">
          <ion-option >10%</ion-option>
          <ion-option >20%</ion-option>
          <ion-option >30%</ion-option>
        </ion-select>
      </ion-item>
    </ion-col>
  </ion-row>
</ion-grid>
<div>
<button  ion-button color="light" icon-right (click)="addInputField()">
  Add Condition
  <ion-icon name="add"></ion-icon>
</button>
</div>
   <button ion-button type="round" (click)="opneSchd()">Accept</button>
   <button ion-button type="round">Edit</button>
    </div>  
   </div>
   <div >
    <button ion-item (click) = "thirdPay()">
      <ion-icon name="arrow-dropdown-circle"></ion-icon>
      Third Party Payment
    </button>
    <div *ngIf = third>
      <h2>Third party Payment</h2>
      <button ion-button type="round" (click)="opneSchd()" >Accept</button>
      <button ion-button type="round">Reject</button>
    </div>  
   </div>

 </ion-list>

 </ion-card>
<ion-card>
      <ion-item>
      <ion-label>Schedule</ion-label>
      </ion-item>
  <ion-list>
  <div >
    <button ion-item (click) = "schedulePay()" >
      <ion-icon name="arrow-dropdown-circle"></ion-icon>
      Partial Payment
    </button>
  <div *ngIf = opsch>
  <ion-grid no-padding>
  <ion-row >
    <ion-col >
      <ion-item class ="item-sm">
        <ion-label class="label label-sm">Condition</ion-label>
      </ion-item>
    </ion-col>
    <ion-col >
      <ion-item class ="item-sm"> 
        <ion-label class="label label-sm">Amount</ion-label>
      </ion-item>
    </ion-col>
    <ion-col >
      <ion-item >
        <ion-label class="label label-sm">Currency</ion-label>
      </ion-item>
    </ion-col>
    <ion-col>
      <ion-item>
        <ion-label class="label label-sm">Due date</ion-label>
      </ion-item>
    </ion-col>
  </ion-row>
   <ion-row *ngFor=" let schd of schds , let i = index">
    <ion-col >
      <ion-item class="item">
        <ion-input type="text" [(ngModel)]="schd[i]"></ion-input>
      </ion-item>
    </ion-col>
    <ion-col >
      <ion-item>
          <ion-input type="text" [(ngModel)]="schd[i]"></ion-input>
      </ion-item>
    </ion-col>
    <ion-col >
      <ion-item class="item">
        <ion-input type="text" [(ngModel)]="schd[i]"></ion-input>
      </ion-item>
    </ion-col>
    <ion-col>
      <ion-item>
          <ion-datetime displayFormat="MM/DD/YYYY" [(ngModel)]="schd[1]"></ion-datetime>
      </ion-item>
    </ion-col>
  </ion-row>
</ion-grid>
<div>
<button  ion-button color="light" icon-right (click)="addschedule()">
  Add Condition
  <ion-icon name="add"></ion-icon>
</button>
</div>
 <div>      
<button ion-button type="round" (click)="summary()">Accept</button>
 </div>
</div>  
</div>
</ion-list>
</ion-card>
</ion-content>
